In [11]:
from faker import Faker
import numpy as np
import pandas as pd

In [2]:
fake = Faker()
fake.name()

'Barry Martinez'

In [3]:
fake_names = [fake.name() for i in range(15)]
print(fake_names)

['Laura Ramirez', 'William Alvarado', 'Kevin Day', 'Jill Thomas', 'Rachel Price', 'Michelle Wall', 'Monique Nunez', 'Jenna Mason', 'April Hill', 'Joseph Garcia', 'Patricia Underwood', 'Pamela Guzman', 'Randall Haynes', 'Ronald Wong', 'Benjamin Williams']

In [5]:
# generate last, first name
fake_full_names = [f'{fake.last_name()}, {fake.first_name()}' for i in range(15)]
print(fake_full_names)

['Frey, Joe', 'Harris, Janice', 'Valencia, Kelly', 'Campbell, Crystal', 'Bartlett, Patricia', 'Hunter, Jill', 'Jensen, Amanda', 'Smith, Jessica', 'Gaines, Scott', 'Phillips, Allison', 'Olson, Amanda', 'Smith, Jean', 'Riggs, Destiny', 'Benson, Jonathan', 'Simmons, Beth']

In [6]:
# generate fake profiles
for i in range(5):
    print(fake.profile())

{'job': 'Optician, dispensing', 'company': 'Sullivan, Gilmore and Goodwin', 'ssn': '360-84-5780', 'residence': '7796 Townsend Roads\nNorth Melinda, OR 01787', 'current_location': (Decimal('60.1638145'), Decimal('4.003218')), 'blood_group': 'A+', 'website': ['http://www.lyons.net/', 'http://martinez.com/', 'https://www.lewis.com/', 'https://www.richards.com/'], 'username': 'ywilson', 'name': 'Gary Werner', 'sex': 'M', 'address': '322 Robin Corner\nBuckfurt, KY 30389', 'mail': 'xknight@yahoo.com', 'birthdate': datetime.date(2010, 4, 26)}
{'job': 'Advertising copywriter', 'company': 'Gaines and Sons', 'ssn': '133-22-7551', 'residence': '220 Elliott Circle\nCartertown, IN 89047', 'current_location': (Decimal('42.7157055'), Decimal('-62.380992')), 'blood_group': 'O-', 'website': ['http://jackson-jones.com/', 'http://www.moody.biz/', 'http://www.shields.net/'], 'username': 'andreacastro', 'name': 'Alexandria Parsons', 'sex': 'F', 'address': '27208 Ashley Mews Apt. 928\nSouth Shawn, GU 70107', 'mail': 'masonangela@yahoo.com', 'birthdate': datetime.date(2001, 1, 27)}
{'job': 'Environmental manager', 'company': 'Beck, Young and Chan', 'ssn': '781-41-4875', 'residence': '186 Cheryl Roads Suite 977\nKellyton, AL 86626', 'current_location': (Decimal('-74.996203'), Decimal('-25.154325')), 'blood_group': 'O-', 'website': ['http://hughes.biz/'], 'username': 'tiffany39', 'name': 'Patrick Woods', 'sex': 'M', 'address': '7354 Jason Lodge Apt. 579\nLivingstonside, OK 24344', 'mail': 'jeremyellis@hotmail.com', 'birthdate': datetime.date(1912, 11, 5)}
{'job': 'Photographer', 'company': 'Day, Harris and Mccullough', 'ssn': '083-13-2952', 'residence': '09005 Thomas Field\nBrentshire, KS 01470', 'current_location': (Decimal('59.481475'), Decimal('167.760648')), 'blood_group': 'A-', 'website': ['http://clarke.com/', 'https://www.reed.biz/'], 'username': 'braynicholas', 'name': 'Carla Reid', 'sex': 'F', 'address': '3832 Anthony Divide Suite 357\nWest Frank, PR 53652', 'mail': 'robertcarroll@hotmail.com', 'birthdate': datetime.date(1967, 1, 22)}
{'job': 'Warden/ranger', 'company': 'Ward-Ortiz', 'ssn': '301-01-5604', 'residence': '24721 Williams Pines\nDavidmouth, AK 69845', 'current_location': (Decimal('-63.0771075'), Decimal('133.145343')), 'blood_group': 'B+', 'website': ['http://wolf.com/', 'https://garcia-knox.com/', 'https://fleming.org/', 'http://franklin-key.org/'], 'username': 'kristindorsey', 'name': 'David Morton', 'sex': 'M', 'address': '398 Lindsey Lake Apt. 287\nDennisstad, PW 93260', 'mail': 'tiffany78@hotmail.com', 'birthdate': datetime.date(1921, 11, 8)}

In [7]:
fake.profile()

{'job': 'Database administrator',
 'company': 'Mccoy-Mcgrath',
 'ssn': '602-20-1123',
 'residence': '6876 Jackson Manor\nAlejandramouth, ND 18262',
 'current_location': (Decimal('-48.814855'), Decimal('-105.867419')),
 'blood_group': 'AB-',
 'website': ['http://anderson.biz/', 'http://armstrong.biz/'],
 'username': 'williamsbryan',
 'name': 'Charles Blair',
 'sex': 'M',
 'address': 'PSC 4741, Box 2596\nAPO AE 59369',
 'mail': 'sarah89@hotmail.com',
 'birthdate': datetime.date(1984, 11, 26)}

In [11]:
Faker.seed(0)
for i in range(5):
    print(fake.dsv(dialect='excel', data_columns=('{{last_name}}, {{first_name}}', '{{address}}')))

"Richard, Katherine","764 Howard Forge Apt. 421
Vanessaside, VT 79393"
"Barrera, Kyle","8156 Carr Ford Suite 784
Port Samanthatown, CO 94834"
"Larsen, Jennifer","753 Padilla Circles
New Jeffrey, AS 19178"
"Pratt, Seth","714 Mann Plaza Suite 839
Seanfurt, MD 75952"
"Allen, Ivan","471 Erika Curve
North Megan, MH 92162"
"Leblanc, Amber","339 Riley Mission Suite 515
South Brendamouth, PR 25454"
"Sanchez, Jessica","2560 Krista Walk
North Lisa, SC 70519"
"Guzman, Charles","916 Mitchell Crescent
New Andrewburgh, VT 16740"
"Mendoza, Jessica","691 Jones Cliffs
Michaelburgh, AR 66513"
"Mcdonald, Candace","45792 Tammy Centers Apt. 258
Davidmouth, TN 23414"

"Smith, Erin","PSC 8456, Box 4280
APO AA 97700"
"Miller, Joanne","75945 Jennifer Loaf
Pooleland, AL 78433"
"Lee, Matthew","9606 Barton Station Apt. 271
Jacquelinemouth, NC 64367"
"Odonnell, Cassandra","5470 Lopez Roads
Port Jessicatown, MO 89435"
"Butler, Aaron","891 David Run
Port Kevin, UT 24385"
"Garcia, Melissa","47142 Wilson Drives
Melissaton, AZ 27467"
"Becker, Angela","USS Mathis
FPO AP 80139"
"Rios, Jennifer","PSC 6582, Box 3694
APO AE 18648"
"Hernandez, Mathew","9004 Edward Prairie
Michaelside, DC 38958"
"Wilson, Jessica","USNV White
FPO AP 96008"

"Jones, Richard","18775 Martinez Crescent Suite 604
Jessicaberg, PW 22331"
"Sims, Nicholas","Unit 1113 Box 3060
DPO AE 52118"
"Hawkins, Keith","PSC 9361, Box 5349
APO AE 57022"
"Lee, Danny","731 Sanders Fords
Port Jasonberg, CT 26449"
"Ellis, Michael","729 Little Manors
Sheltonmouth, MP 65832"
"Bolton, Cynthia","55508 Nancy Rapids
Port Nicholas, LA 94627"
"Mccarthy, Thomas","32040 Rivera Estates
Port Diana, MN 66692"
"Reyes, Alyssa","891 Bullock Ford
Amandachester, GU 63705"
"Bruce, Teresa","02489 Cook Park
Sherriport, WI 53987"
"Cruz, Patrick","45007 Thomas Way
Lake Hollystad, MT 05112"

"Carr, Paul","00992 Garcia Plaza Suite 367
North Chelseamouth, RI 83379"
"Peck, Debra","Unit 9426 Box 4183
DPO AE 51884"
"Wallace, Katherine","07408 Jerry Trail
Hunterville, FL 56333"
"Snow, Robert","1162 Lacey Meadows
Johnsonmouth, VA 33607"
"Miller, Chad","5203 Jones Divide
North Jamie, TX 96459"
"Mays, David","093 Jacob Creek Suite 542
East Michaelfort, LA 39343"
"Giles, Susan","118 Moore Drive
Port Jeffrey, NY 32330"
"Young, Ivan","90611 Robert Plaza
Yangberg, OR 55838"
"Evans, Michael","806 Smith Stream Suite 735
Stephanieland, HI 14737"
"Hill, Angela","2662 Susan Junctions Apt. 571
Fischerport, AL 92119"

"Cole, Steven","489 Roger Terrace
Davisfort, WV 30957"
"Stephens, Richard","40046 Wallace Summit
Michaelborough, PA 11676"
"Johnson, Laura","83216 Campbell Dale Apt. 816
Figueroaview, LA 58482"
"Watson, Courtney","6972 Gomez Mountains
Robinsonfort, UT 66242"
"Flores, Denise","70930 Ruiz Branch Apt. 160
Blaketown, KY 84436"
"Lyons, Jessica","16756 Mark Rue Suite 272
Davidburgh, NV 46267"
"Clarke, Paul","337 Brenda Causeway Suite 031
West Brian, SC 89301"
"Thompson, Cheryl","6708 Carpenter Overpass Suite 735
Bobbyton, GA 46350"
"Smith, Diamond","396 Shawn Junction Apt. 915
Amandamouth, KS 04279"
"Boyd, James","34448 Scott Key Apt. 048
North Stevenmouth, AR 54518"

In [12]:
random.random()

0.3721667741980953

In [14]:
random.intiger()

AttributeError: module 'numpy.random' has no attribute 'intiger'

rng =np.random.default_rng()
rng.random()

In [3]:
print(np.random.randint(0,1))

0

In [5]:
fake.ascii_email()

'tcook@hotmail.com'

In [9]:
# create empty list for student entries
data = []
# create dictionary private teachers, us numpy random to assign an int, then map that int to a private teacher
teachers = {0: "None Listed",
            1: "Wrestler",
           2: "Bucket"}
# create dictionary instruments, us numpy random to assign an int, then map that int to an instrument
instruments = {0: "",
              1: "Soprano",
              2: "Alto",
              3: "Tenor",
              4: "Baritone"}
for i in range(2):
    student = {}
    last_name = fake.last_name()
    student_fn = fake.first_name()
    parent_fn = fake.first_name()
    student_email = fake.ascii_email()
    parent_email = fake.ascii_email()
    inst_num = np.random.randint(0,4)
    teacher_num = np.random.randint(0,2)
    student['student_name'] = f'{last_name}, {student_fn}'
    student['student_email'] = student_email
    student['parent_name'] = f'{last_name}, {parent_fn}'
    student['parent_email'] = parent_email
    student['private_teacher'] = teachers[teacher_num]
    student['instrument'] = instruments[inst_num]
    data.append(student)

data

[{'student_name': 'Mason, Bobby',
  'student_email': 'mullinscarly@hotmail.com',
  'parent_name': 'Mason, Tyler',
  'parent_email': 'xmoody@hotmail.com',
  'private_teacher': 'None Listed',
  'instrument': 'Soprano'},
 {'student_name': 'Erickson, Morgan',
  'student_email': 'torressandra@wilson.info',
  'parent_name': 'Erickson, Andrew',
  'parent_email': 'pooletanya@hotmail.com',
  'private_teacher': 'Wrestler',
  'instrument': 'Tenor'}]

In [13]:
student_df = pd.DataFrame(data)
student_df

,student_name,student_email,parent_name,parent_email,private_teacher,instrument
0,"Mason, Bobby",mullinscarly@hotmail.com,"Mason, Tyler",xmoody@hotmail.com,None Listed,Soprano
1,"Erickson, Morgan",torressandra@wilson.info,"Erickson, Andrew",pooletanya@hotmail.com,Wrestler,Tenor